$def with (course, chart_query)

$# template


$var title: $:course.get_name(user_manager.session_language())

$var header:
    <script src="$get_homepath(True)/static/js/libs/chart.min.js"></script>

$var Column: $:template_helper.call('course_admin_menu',course=course,current='adv_stats')

$if chart_query is not None:
	<h1>Got: $chart_query</h1>

<h2>$:_("Advanced statistics")</h2>
<h3>$:_("Configuration")</h3>
<form method="post" id="stats_form" action="$get_homepath()/admin/${course.get_id()}/adv_stats">
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="chart_type" id="chart_type">
                <option value="grades-distribution">$:_("Grades distribution")</option>
                <option value="submission-before-perfect">$:_("Number of submissions before 100%")</option>
                <option value="submissions-stats">$:_("Statistics on submissions")</option>
            </select>
        </div>
    </div>
    <h4>Filters</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
          <input type="radio" name="submissions_filter" id="submissions_filter_all" value="all" checked>All submissions</input> <br/>
          <input type="radio" name="submissions_filter" id="submissions_filter_best" value="best">Best submission for each student</input> <br/>
        </div>
        <div class="form-group col-md-4">
            <label for="min_submission_grade">$:_("Submissions graded from")</label>
            <input name="min_submission_grade" type="text" class="form-control" id="min_submission_grade" placeholder="0%" value="0%">
        </div>
        <div class="form-group col-md-4">
            <label for="max_submission_grade">$:_("Submissions graded to")</label>
            <input name="max_submission_grade" type="text" class="form-control" id="max_submission_grade" placeholder="100%" value="100%">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="stats_from">$:_("Compute stats since")</label>
            <input name="stats_from" type="text" class="form-control" id="stats_from" placeholder="From" value="">
        </div>
        <div class="form-group col-md-6">
            <label for="stats_to">$:_("Until")</label>
            <input  name="stats_to"type="text" class="form-control" id="stats_to" placeholder="To" value="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="filter_tags">$:_("Tags (separated by commas)")</label>
            <input name="filter_tags" type="text" class="form-control" id="filter_tags" placeholder="None" value="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="filter_exercises">$:_("Exercise names (separated by commas)")</label>
            <input name="filter_exercises" type="text" class="form-control" id="filter_exercises" placeholder="None" value="">
        </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-download"></i>$:_("Update")</button>
</form>

<h3>$:_("Results")</h3>
<canvas id="canvas"></canvas>

<script>
    // Placeholders for a chart
    window.onload = function() {
        /*
        $if chart_query is not None:
        //*/
          {
            fillFilters(
              {chart_type: "$chart_query.chart_type",
               submissions_filter: "$chart_query.submissions_filter",
               min_submission_grade: "$chart_query.min_submission_grade",
               max_submission_grade: "$chart_query.max_submission_grade",
               stats_from: "$chart_query.stats_from",
               stats_to: "$chart_query.stats_to",
               filter_tags: "$chart_query.filter_tags",
               filter_exercises: "$chart_query.filter_exercises"}
            );
            makeChart();
          }
    };
</script>

<script type="text/javascript" src="$get_homepath(True)/plugins/stats/static/adv_stats.js"></script>

