$def with (course, chart_query)

$# template


$var title: $:course.get_name(user_manager.session_language())

$var header:
    <script src="$get_homepath(True)/static/js/libs/chart.min.js"></script>

$var Column: $:template_helper.call('course_admin_menu',course=course,current='adv_stats')

<h1>Got: $chart_query</h1>
<h2>$:_("Advanced statistics")</h2>
<h3>$:_("Configuration")</h3>
<form method="post" id="stats_form" action="$get_homepath()/admin/${course.get_id()}/adv_stats">
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="chart_type" id="chart_type">
                <option value="grades-distribution">$:_("Grades distribution")</option>
                <option value="submission-before-perfect">$:_("Distribution of the number of submissions before 100%")</option>
                <option value="lines-per-submission">$:_("Distribution of the number of lines per submission")</option>
                <option value="submissions-time">$:_("Submissions in function of time")</option>
                <option value="tag-sorted">$:_("Submissions sorted per tags")</option>
            </select>
        </div>
    </div>
    <h4>Filters</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
          <input type="radio" name="submissions_filter" id="submissions_filter_all" value="all" checked>$:_("All submissions")</input> <br/>
          <input type="radio" name="submissions_filter" id="submissions_filter_best" value="best">$:_("Best submission for each student")</input> <br/>
        </div>
        <div class="form-group col-md-4">
            <label for="min_submission_grade">$:_("Submissions graded from (in percent)")</label>
            <input name="min_submission_grade" type="text" class="form-control" id="min_submission_grade" placeholder="0%" value="0%" pattern="((100)|([1-9]?[0-9])(\.[0-9]+)?)%?">
        </div>
        <div class="form-group col-md-4">
            <label for="max_submission_grade">$:_("Submissions graded to (in percent)")</label>
            <input name="max_submission_grade" type="text" class="form-control" id="max_submission_grade" placeholder="100%" value="100%" pattern="((100)|([1-9]?[0-9])(\.[0-9]+)?)%?">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="stats_from">$:_("Compute stats since")</label>
            <input name="stats_from" type="text" class="form-control" id="stats_from" placeholder="$:_("The beginning of the Unix epoch")" value="">
        </div>
        <div class="form-group col-md-6">
            <label for="stats_to">$:_("Until")</label>
            <input  name="stats_to"type="text" class="form-control" id="stats_to" placeholder="$:_("Now")" value="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="filter_tags">$:_("Tags (separated by commas)")</label>
            <input name="filter_tags" type="text" class="form-control" id="filter_tags" placeholder="$:_("None")" value="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="filter_exercises">$:_("Exercise names (separated by commas)")</label>
            <input name="filter_exercises" type="text" class="form-control" id="filter_exercises" placeholder="$:_("None")" value="">
        </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-download"></i>$:_("Update")</button>
</form>

$if chart_query is not None:
    <h3>$:_("Results")</h3>
    <canvas id="canvas"></canvas>
    <div id="stats-table" style="margin: auto; padding: 1.5rem;">
        <table>
            <tr>
                <th>$:_("Variable")</th>
                <th>$:_("Value")</th>
            </tr>
            <tr>
              <td>$:_("Count")</td>
              <td id="table-count"></td>
            </tr>
            <tr>
              <td>$:_("Minimum")</td>
              <td id="table-min"></td>
            </tr>
            <tr>
              <td>$:_("Maximum")</td>
              <td id="table-max"></td>
            </tr>
            <tr>
              <td>$:_("Mean")</td>
              <td id="table-mean"></td>
            </tr>
            <tr>
              <td>$:_("Median")</td>
              <td id="table-median"></td>
            </tr>
            <tr>
              <td>$:_("Mode")</td>
              <td id="table-mode"></td>
            </tr>
            <tr>
              <td>$:_("Variance")</td>
              <td id="table-variance"></td>
            </tr>
            <tr>
              <td>$:_("Standard deviation")</td>
              <td id="table-std-deviation"></td>
            </tr>
        </table>
    </div>

<script>
    // Placeholders for a chart
    window.onload = function() {
        /*
        $if chart_query is not None:
        //*/
          {
            fillFilters(
              {chart_type: "$chart_query.chart_type",
               submissions_filter: "$chart_query.submissions_filter",
               min_submission_grade: "$chart_query.min_submission_grade",
               max_submission_grade: "$chart_query.max_submission_grade",
               stats_from: "$chart_query.stats_from",
               stats_to: "$chart_query.stats_to",
               filter_tags: "$chart_query.filter_tags",
               filter_exercises: "$chart_query.filter_exercises"}
            );
            makeChart();
            addStatsTable();
          }
    };
</script>

<script type="text/javascript" src="$get_homepath(True)/plugins/stats/static/adv_stats.js"></script>

